{% extends "Market/base.html" %}
{% block content %}
    {% load static %}
    <h1>Hello, {{ fullname }}</h1>

    <div class="row">
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="head bg-dark text-center p-2">
                    <h4>Your rating</h4>
                    <span class="fa fa-star {% if rating > 0.5 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if rating > 1.5 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if rating > 2.5 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if rating > 3.5 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if rating > 4.5 %} checked {% endif %}"></span>
                </div>
                <div>
                    <ul class="flex-column list-group bg-light">
                        <li class="bg-light list-group-item">
                            <div class="container font-weight-light">
                                <h4>Contact information</h4>
                                {{ fullname }} <br/>
                                {{ address.street_address }} <br/>
                                {{ address.city }}, {{ address.province }}, {{ address.country }} - {{ address.postal_code }} <br/>
                                {{ phone_number }}
                            </div>
                        </li>
                        <li class="bg-light list-group-item text-center">
                            <a class="btn btn-primary bg-dark"
                               href="#">Modify your profile</a>
                        </li>
                        <li class="bg-light list-group-item text-center">
                            <a class="btn btn-primary bg-dark"
                               href="#">Add a new product</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="col-8">
            <h3>Your products for sale</h3>
            {% include "Market/products_list.html" %}
        </div>
    </div>
{% endblock content %}
