{% extends "Market/base.html" %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <h2>Personal Information</h2>
        <fieldset>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="firstNameInput">First Name</label>
                        <input type="text" class="form-control" id="firstNameInput" name="first_name"
                               value="{{form.data.first_name}}">
                        <small id="firstNameError" class="form-text text-muted">{{ form.first_name.errors }}</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="lastNameInput">Last Name</label>
                        <input type="text" class="form-control" id="lastNameInput" name="last_name"
                               value="{{form.data.last_name}}">
                        <small id="lastNameError" class="form-text text-muted">{{ form.last_name.errors }}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="text" class="form-control" id="usernameInput" name="username"
                       value="{{form.data.username}}">
                <small id="usernameError" class="form-text text-muted">{{ form.username.errors }}</small>
            </div>
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" name="email" value="{{form.data.email}}"
                       placeholder="email@example.com">
                <small id="emailError" class="form-text text-muted">{{ form.email.errors }}</small>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="password">
                <small id="passwordError" class="form-text text-muted">{{ form.password.errors }}</small>
            </div>
            <div class="form-group">
                <label for="passwordConfirmInput">Confirm Password</label>
                <input type="password" class="form-control" id="passwordConfirmInput" name="password_confirm">
                <small id="passwordConfirmError" class="form-text text-muted">{{ form.password_confirm.errors }}</small>
            </div>
        </fieldset>

        <hr/>

        <h2>Address</h2>
        <fieldset>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="countryInput">Country</label>
                        <input type="text" class="form-control" id="countryInput" name="country"
                               value="{{form.country.value}}" readonly="readonly">
                        <small id="countryError" class="form-text text-muted">{{ areaConstraintMessage }}</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="provinceInput">Province</label>
                        <input type="text" class="form-control" id="provinceInput" name="province"
                               value="{{form.province.value}}" readonly="readonly">
                        <small id="provinceError" class="form-text text-muted">{{ areaConstraintMessage }}</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="cityInput">City</label>
                        <input type="text" class="form-control" id="cityInput" name="city"
                               value="{{form.city.value}}" readonly="readonly">
                        <small id="cityError" class="form-text text-muted">{{ areaConstraintMessage }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="streetAddressInput">Address</label>
                        <input type="text" class="form-control" id="streetAddressInput" name="street_address"
                               value="{{form.data.street_address}}">
                        <small id="streetAddressError" class="form-text text-muted">{{ form.street_address.errors }}
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="postalCodeInput">Postal Code</label>
                        <input type="text" class="form-control" id="postalCodeInput" name="postal_code"
                               value="{{form.data.postal_code}}">
                        <small id="postalCodeError" class="form-text text-muted">{{ form.postal_code.errors }}</small>
                    </div>
                </div>
            </div>
        </fieldset>
        <p>
            <input class="btn btn-primary" type="submit" value="Signup"/>
        </p>

    </form>
</div>
{% endblock content %}