<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/Market/css/browse.css">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Marketplace</title>
    {% endif %}
</head>
<body style="padding-top: 70px;">
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="row w-100">
        <div class="col-md-4">
            <a class="navbar-brand" href="/">Marketplace</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMarketplace"
                    aria-controls="navbarMarketplace" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-md-4">
            <div class="collapse navbar-collapse" id="navbarMarketplace">
                <div class="container">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Our Market</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item {% if activeNavItem == 'paintings' %}active{% endif %}"
                                   href="/paintings">Paintings</a>
                                <a class="dropdown-item {% if activeNavItem == 'sculptures' %}active{% endif %}"
                                   href="/sculptures">Sculptures</a>
                                <a class="dropdown-item {% if activeNavItem == 'clothes' %}active{% endif %}"
                                   href="/clothes">Clothes</a>
                                <a class="dropdown-item {% if activeNavItem == 'jewelry' %}active{% endif %}"
                                   href="/jewelry">Jewelry</a>
                                <a class="dropdown-item {% if activeNavItem == 'glass_art' %}active{% endif %}"
                                   href="/glass_art">Glass Art</a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item {% if activeNavItem == 'cart' %}active{% endif %}">
                                <a class="nav-link" href="#">Cart</a>
                            </li>
                            <li class="nav-item {% if activeNavItem == 'myProfile' %}active{% endif %}">
                                <a class="nav-link" href="#">My Profile</a>
                            </li>
                            <li class="nav-item {% if activeNavItem == 'logout' %}active{% endif %}">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item {% if activeNavItem == 'signup' %}active{% endif %}">
                                <a class="nav-link" href="/signup">Signup</a>
                            </li>
                            <li class="nav-item {% if activeNavItem == 'login' %}active{% endif %}">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock content %}

</div>
<!-- jQuery, Popper.js, Bootstrap JS, transition.js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(document).on('click', '.nav-item a', function (e) {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });
    });
</script>
</body>
</html>