<div class="col-3">
    <div class="sidebar-categories d-flex flex-column">
        <div class="head bg-dark text-center p-2">
            <h4>Categories</h4>
        </div>
        <div>
            <ul class="flex-column list-group bg-light">
                <li class="bg-light list-group-item category-link">
                    <a class="category-link {% if activeNavItem == 'paintings' %}sidebar-active{% endif %}"
                       href="/paintings">Paintings</a>
                </li>
                <li class="bg-light list-group-item">
                    <a class="category-link {% if activeNavItem == 'sculptures' %}sidebar-active{% endif %}"
                       href="/sculptures">Sculptures</a>
                </li>
                <li class="bg-light list-group-item">
                    <a class="category-link {% if activeNavItem == 'clothes' %}sidebar-active{% endif %}"
                       href="/clothes">Clothes</a>
                </li>
                <li class="bg-light list-group-item">
                    <a class="category-link {% if activeNavItem == 'jewelry' %}sidebar-active{% endif %}"
                       href="/jewelry">Jewelry</a>
                </li>
                <li class="bg-light list-group-item">
                    <a class="category-link {% if activeNavItem == 'glass_art' %}sidebar-active{% endif %}"
                       href="/glass_art">Glass Art</a>
                </li>
            </ul>
        </div>
    </div>
</div>