{% extends "Market/base.html" %}
{% block content %}
    {% load static %}
    <h1>Browse {{ category }}</h1>

    <div class="row">

        {% include "Market/browse_sidebar.html" %}

        <div class="col-9">
            {% for item in items %}

                <h2> {{ item.name }} </h2>
                <img class="img-thumbnail" src="{% static item.image %}" alt="picture unavailable">
                <p>Price: ${{ item.price }}, remaining quantity: {{ item.quantity }}</p>
                <p>{{ item.description }}<p>

            {% endfor %}</div>
    </div>
{% endblock content %}

