{% extends "Market/base.html" %}
{% block content %}
    {% load static %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/cart">Your cart</a></li>
            <li class="breadcrumb-item"><a href="/order/review-shipping">Confirm shipping address</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout order</li>
        </ol>
    </nav>
    <h1>Checkout your order</h1>
    <div class="row">
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="head bg-dark text-center p-2">
                    <h4>Order summary</h4>
                </div>
            </div>
            <ul class="flex-column list-group bg-light">
                <li class="bg-light list-group-item">
                    <ul class="flex-column list-group bg-light">
                        {% for cartProduct in cartProducts %}
                            <li class="bg-light list-group-item">
                                <div class="row">
                                    <div class="col-8">
                                        <b>{{ cartProduct.product.name }}</b> <br/>
                                        Qty: {{ cartProduct.quantity }} <br/>
                                        Unit price: ${{ cartProduct.product.price }}
                                    </div>
                                    <div class="col-4">
                                        <img src="{{ cartProduct.product.image.url }}" class="img-fluid img-thumbnail"
                                             alt="image unavailable">
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="bg-light list-group-item">
                    Subtotal: <span class="float-right">${{ subtotal }}</span> <br/>
                    Provincial taxes: <span class="float-right">${{ provTaxes }}</span> <br/>
                    Federal taxes: <span class="float-right">${{ fedTaxes }}</span> <br/>
                    <hr/>
                    Total: <span class="float-right">${{ total }}</span>
                </li>
                <li class="bg-light list-group-item">
                    <!-- writes out the form tag automatically -->
                    {{ form.render }}
                </li>
            </ul>
        </div>
        <div class="col-8">
        </div>
    </div>
{% endblock %}