{% extends "Market/base.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/cart">Your cart</a></li>
            <li class="breadcrumb-item active" aria-current="page">Confirm shipping address</li>
        </ol>
    </nav>
    <h1>Please confirm your shipping address</h1>
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <input type="hidden" id="addressIdInput" name="addressId" value="{{ form.initial.id }}">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="countryInput">Country</label>
                        <input type="text" class="form-control" id="countryInput" name="country"
                               value="{{ form.country.value }}" readonly="readonly">
                        <small id="countryError" class="form-text text-muted">{{ areaConstraintMessage }}</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="provinceInput">Province</label>
                        <input type="text" class="form-control" id="provinceInput" name="province"
                               value="{{ form.province.value }}" readonly="readonly">
                        <small id="provinceError" class="form-text text-muted">{{ areaConstraintMessage }}</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="cityInput">City</label>
                        <input type="text" class="form-control" id="cityInput" name="city"
                               value="{{ form.city.value }}" readonly="readonly">
                        <small id="cityError" class="form-text text-muted">{{ areaConstraintMessage }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="streetAddressInput">Address</label>
                        <input type="text" class="form-control" id="streetAddressInput" name="street_address"
                               value="{{ form.street_address.value }}">
                        <small id="streetAddressError" class="form-text text-muted">{{ form.street_address.errors }}
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="postalCodeInput">Postal Code</label>
                        <input type="text" class="form-control" id="postalCodeInput" name="postal_code"
                               value="{{ form.postal_code.value }}">
                        <small id="postalCodeError" class="form-text text-muted">{{ form.postal_code.errors }}</small>
                    </div>
                </div>
            </div>
        </fieldset>
        <p>
            <input class="btn btn-primary" type="submit" value="Confirm shipping address"/>
        </p>
    </form>
{% endblock %}